@import "tailwindcss";

th {
    @apply px-6 py-3 text-left text-xs font-medium text-neutral-500 uppercase tracking-wider;
}

td {
    @apply px-6 py-4 whitespace-nowrap text-sm text-gray-900;
}

input[type="text"], input[type="number"] {
    @apply w-full p-3 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-indigo-500;
}

input[type="checkbox"] {
    @apply accent-indigo-400 cursor-pointer;
}