@import "tailwindcss";

th {
  @apply px-6 py-3 text-left text-xs font-medium tracking-wider text-neutral-500 uppercase;
}

td {
  @apply px-6 py-4 text-sm whitespace-nowrap text-gray-900;
}

input[type="text"],
input[type="number"] {
  @apply w-full rounded-xl border border-gray-300 p-3 focus:ring-2 focus:ring-indigo-500 focus:outline-none;
}

input[type="checkbox"] {
  @apply cursor-pointer accent-indigo-400;
}
